body {
  font-family: Arial, sans-serif;
  background-color: #e1a0a0;
  margin: 50px;
  padding: 50px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.converter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.converter input {
  width: 100px;
  padding: 10px;
  font-style: italic;
}

.converter select {
  padding: 20px 40px;
  font-size: 15px;
  margin-left: 20px;
}

.converter button {
  padding: 10px 15px;
  margin-left: 20px;
  font-size:20px;
  background-color: rgb(242, 241, 254);
  
}

#result {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
